_ReSharper.*
bin/
obj/
*.user
*.suo
*~
*.swp
*.orig
*.nupkg
*.received.txt
*.crunchproject.local.xml
*.crunchsolution.local.xml
*.cache
packages/*
PackageBuild/*
Build/*
TestResult.xml
TestStack.BDDfy.sln.ide/graph
_NCrunch_TestStack.BDDfy/
TestStack.BDDfy.sln.ide/
src/packages/
src/.vs/
project.lock.json
tools/Cake/
tools/GitReleaseNotes/
artifacts/
