_ReSharper.*
bin/
obj/
*.user
*.suo
*.DotSettings
*~
*.swp
*.orig
*.nupkg
*.crunchproject.local.xml
*.crunchsolution.local.xml
*.ncrunchsolution
*.ncrunchproject
*.cache
packages/*
PackageBuild/*
Build/*
TestResult.xml